/* ::element::-webkit-scrollbar {
   width: 0 !important 
  } */

.list {
  padding-left: 35px;
  margin-bottom: 50px;
}

.movie-list {
  display: flex;
  overflow: auto;
}

h2 {
  color: white;
  font-size: 1.22em;
}

div {
  height: 185px
}